@keyframes grow {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.25);
    }
}

.animation {
    animation: grow;
    animation-duration: 0.75s;
    animation-delay: 0s;
    animation-direction:alternate-reverse;
    animation-iteration-count: infinite;
}



